# [Exclude]: Build folder
**/dist/
**/dist-*

# [Exclude]: Dependencies
**/node_modules/
lib/

# [Exclude]: Hidden (files/folders), logging and environment files
**/.**
**/*.log
**/*.env

# [Include]: VSCode settings folder
!.vscode

# [Include]: GitHub settings folder and .gitignore
!.github
!.gitignore